<% @survey_list = Widget.find(:last, :conditions => {:merchant_id => current_merchant.id, :widget_type => "survey"}) %>

<li>  
  <div class="article-post">   
  
    <% if @survey_list.items.length > 0 %>
        <span class="user-info">You currently have <%=@survey_list.items.count %> survey items active. </span>        
    <% else %>
      <div id = "create-form">
      <%= form_tag '/widgets' do %>
        <div id = "form-fields">
          <div class="field">
            <%= hidden_field_tag "type[value]", "survey" %>  
          </div>
        </div>
        <div class="actions">
          <%= submit_tag 'Your survey list is empty, add questions now!', :class => "btn btn-link" %>
        </div>
        
      <% end %>

      </div>
    <% end %>
  </div>
</li>

<% @survey_list.items.each do |item| %>
  <% @decoded = ActiveSupport::JSON.decode(item.data) %>

  <li>  
    <div class="article-post">
      <span class="user-info">Created on <%=item.created_at %> </span>
      <p>
        <a href="#"><%=@decoded["question"] %>: 

        <% if @decoded.has_key?("answers") %>
          multiple choice question. </a>       
        <% else %> 
          slider question. </a>       
        <% end %> 
    </div>
  </li>
<% end %>