<style type='text/css'>
  .slider-label {
    position:fixed;
  }
  </style>

<% if @widget.widget_type == "coupon" %>

	<% if !mobile_device? %>
		<!DOCTYPE html>
		<html lang="en">
			<head>
			</head>
			<body>							
				<div id="header">
					<h1 style = "color:#DEA;">ADABA</h1>		
				</div>		
		            
				<div id="sidebar">
					<ul>
						<li class="active"><a href="/"><i class="icon-home"></i> <span>Return to Dashboard</span></a></li>		
					</ul>
				
				</div>			
				
				<div id="content">
					<div id="content-header" style = "padding-bottom:0px; margin-bottom:0px;">
						<h1 style = "padding-bottom:0px; margin-bottom:0px;">Viewing Coupons</h1>				
					</div>
					<div class="container-fluid">
						<div class="row-fluid" style = "margin-top:0;">					
							<div class="span12">
								<div class="widget-box">									
									<div class="widget-content nopadding" >
										<ul class="recent-posts">
											<div class = "coupons" style = "height:500px; overflow:auto;">
												<%= render "widgets/showcoupons" %>
											</div>
											
										</ul>
									</div>
								</div>						
							</div>
							<% @show_type = "items/" + @widget.widget_type %>
							<%= render @show_type %>
						</div>								
									
					</div>

					<div class="row-fluid">
						<div id="footer" class="span12">
							2013 &copy; A Sanjay Gupta Production</a>
						</div>
					</div>
				</div>

		            <script src="js/jquery.min.js"></script>
		            <script src="js/jquery.ui.custom.js"></script>
		            <script src="js/bootstrap.min.js"></script>
		            <script src="js/unicorn.js"></script>
			</body>
		</html>
	<% else %>
		<% @items.each do |item| %>
			<% @decoded = ActiveSupport::JSON.decode(item.data) %>
			<div style = "">
				<% @percent_off = (@decoded["original_price"].to_f - @decoded["new_price"].to_f)/@decoded["original_price"].to_f * 100 %>
				<div data-role = "collapsible">
				   <h3><%= @percent_off %>% off on <%= @decoded["item"] %>!</h3>
				   <p><%= @decoded["description"] %>. Was originally $<%= @decoded["original_price"] %>, but now only <em>$<%= @decoded["new_price"] %></em>!</p>
				</div>
			</div>
			
		<% end %>
		<%= render "pages/mobilechatbutton" %>

	<% end %>

<% elsif @widget.widget_type == "survey" %>
	<% if !mobile_device? %>
		
		<!DOCTYPE html>
		<html lang="en">
			<head>
			</head>
			<body>							
				<div id="header">
					<h1 style = "color:#DEA;">BUTUCU</h1>		
				</div>		
		            
				<div id="sidebar">
					<ul>
						<li class="active"><a href="/"><i class="icon-home"></i> <span>Return to Dashboard</span></a></li>		
					</ul>
				
				</div>			
				
				<div id="content">
					<div id="content-header" style = "padding-bottom:0px; margin-bottom:0px;">
						<h1 style = "padding-bottom:0px; margin-bottom:0px;">Viewing Surveys</h1>				
					</div>
					<div class="container-fluid">
						<div class="row-fluid" style = "margin-top:0;">					
							<div class="span12">
								<div class="widget-box">									
									<div class="widget-content nopadding" >
										<ul class="recent-posts">
											<div class = "coupons" style = "height:500px; overflow:auto;">
												<%= render "widgets/showsurveys" %>
											</div>
											
										</ul>
									</div>
								</div>						
							</div>
							<% @show_type = "items/" + @widget.widget_type %>
							<%= render @show_type %>
						</div>								
									
					</div>

					<div class="row-fluid">
						<div id="footer" class="span12">
						</div>
					</div>
				</div>

		            <script src="js/jquery.min.js"></script>
		            <script src="js/jquery.ui.custom.js"></script>
		            <script src="js/bootstrap.min.js"></script>
		            <script src="js/unicorn.js"></script>
			</body>
		</html>


	<% else %>

		<% @items.each do |item| %>
			<% @decoded = ActiveSupport::JSON.decode(item.data) %>
			<div style = "margin-bottom:20px;" class = "survey-item">
				<% @question = @decoded["question"]%> 
				<% if @decoded.has_key?("answers") %>
					
					<% @answers = @decoded["answers"].split(',') %>
					<strong> <%= @question %> </strong>
					
					<% @answer = Answer.new %>
					<%= simple_form_for @answer do |f| %>
					    <div><%= hidden_field(:question_type, :value, :value => "multiple-choice") %></div>
  						<div><%= hidden_field(:user_id, :value, :value => current_user.id) %></div> 
					    <div><%= hidden_field(:widget_id_value, :value, :value => params[:id]) %></div>
					    <div><%= hidden_field(:item_id_value, :value, :value => item.id) %></div>


						<%= f.input :content, :label => "",
						:collection => @answers, 						
						:as => :radio, :name => "mc", :class => "btn btn-warning btn-mini"%>
						
						<%= f.button :submit%>
						

					<% end %>
					
				<% elsif @decoded.has_key?("low_endpoint") %>
					

					<strong> <%= @question %> </strong>
					<div style = "margin-left:20px;">Ranges from <strong> <%= @decoded["low_endpoint"] %> </strong> to <strong> <%= @decoded["high_endpoint"] %> </strong> </div>
					<div data-role="fieldcontain">
				    <label for="slider">Input slider: </label>
  					<%= simple_form_for @answer do |f| %>
  						<div><%= hidden_field(:user_id, :value, :value => current_user.id) %></div> 
  						<div><%= hidden_field(:question_type, :value, :value => "slider") %></div>
  						<div><%= hidden_field(:widget_id_value, :value, :value => params[:id]) %></div>
					    <div><%= hidden_field(:item_id_value, :value, :value => item.id) %></div>

					    <input type="hidden" name="slider-hidden-x" value="0" />
					    <input type="range" name="slider" id="slider" value="0" min="0" max="100" data-mini="true"/>

				     		<%= f.button :submit %>
					<% end %> 

			        </div>


				<% end %>
			</div>

		<% end %>

        <button id="submit_all">Submit All</button>
		
		<%= render "pages/mobilechatbutton" %>
	</div>

	<% end %>
<% end %>