<div> We are on widget number <%= @widget.id %> which is of type <%= @widget.widget_type %> </div>

<% if @widget.widget_type == "coupon" %>
	<%= render 'items/coupon' %>
<% elsif @widget.widget_type == "survey" %>
	<%= render 'items/survey' %>
<% end %>

<%= render @items %>

<div> <a href = "/"> Click here to go back home.</a> </div>