<div class="widget-box widget-chat">
	<div class="widget-title">
		<span class="icon">
			<i class="icon-comment"></i>
		</span>
		<h5>Support chat</h5>
	</div>
	<div class="widget-content nopadding">
		<div class="chat-content panel-left">                   
		   <div class="chat-messages" id="chat-messages">
				<div id="chat-messages-inner">
					<div id = "chats_container" class="span8" style = "height:400px; padding: 0 0 0 0; width:100%;">

					</div>
				</div>
		   </div>									
		  
				<%= render 'chats/businesschat' %>
		   </div>                   
		</div>
		<div class="chat-users panel-right">
			<div class="panel-title"><h5>Online Users</h5></div>
			<div class="panel-content nopadding">
				<ul class="contact-list">					
					
					<% @all_chats = Chat.find(:all, :conditions => {:merchant_id => current_merchant.id}) %>
					<% @all_counts = Chat.count(:all) %>
					<% @chats = [] %>
					<% @counts = {} %>
					<% @user_ids = []%>
					

					<% @all_chats.each do |current_chat | %>
						<% if @user_ids.include?(current_chat.user_id) %>	
							<% @counts[current_chat.user_id] = @counts[current_chat.user_id] + 1 %>						
						<% else %>
							<% @user_ids << current_chat.user_id %>
							<% @chats << current_chat %>
							<% @counts[current_chat.user_id] = 1 %>
						<% end %>
					<% end %>

					<% logger.debug("Chats are: ") %>
					<% logger.debug(@chats.inspect) %>
					<% logger.debug("counts are: ") %>
					<% logger.debug(@counts.inspect) %>


					<% @chats.reverse.each do |chat| %>

						<div class = "conversation" data-id = <%= chat.user_id %> data-count = <%= @counts[chat.user_id] %>  data-merchant = <%= chat.merchant_id %> > 
							<% @id = "user-" + chat.user_id.to_s %>
							<li id = <%@id%> > <%= link_to "Conversation from user #{chat.user_id}", chat, :remote => true %> 
								<span class="msg-count badge badge-info" style="display:none;"> New Chats</span>
							</li>

							 
						</div>

					<% end %>


				</ul>
			</div>
		</div>
	</div>
</div>