<!DOCTYPE html>
<html>
  <head>    
  </head>
  <body>

  <div id = "create-form">
  <%= form_tag '/chats' do %>
    <div><%= hidden_field(:merchant_id, :value, :value => current_user.current_merchant_id) %></div>
    <div><%= hidden_field(:user_id, :value, :value => current_user.id) %></div>
    <div><%= hidden_field(:from, :value, :value => "from") %></div>

    <div id = "form-fields">
      THIS BE A CHAT YO
      <div class="field">
        <%=label_tag 'content' %>
        <%=text_field_tag 'content'%>    
      </div>      
    </div>
    <div class="actions">
      <%= submit_tag 'Save' %>
    </div>
    
  <% end %>

  </div>
  <body>
</html>

