<h1>This is the home page</h1>

<div>The current "user" is  <%= current_user.id %> with a cookie of <%= current_user.unique_cookie %> </div>
<% if merchant_signed_in? %>
  <div>Signed in as... <%= current_merchant.email %></div>
  <div><a href = "/merchants/sign_out"> Go here </a> to sign out. </div>
  <% @widget = Widget.new %>
  <%= render 'widgets/new' %>
  <%= render 'widgets/showall' %>  
<% else %>
	<div>No merchant signed in, <a href = "/merchants/sign_up"> go here to create an account</a> or <a href = "/merchants/sign_in"> here to log in to your account.</a> </div>
	<%= render 'chats/userchat' %>  
<% end %>
