<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" language="javascript">
      
      /*
      var num = 1;
      function createDiv()
      {
        num = num + 1;
        $("#form-fields").append("<div class='field'> <label for='data" + num.toString() + "'>New Data</label> <input id='data" + num.toString() + "' name='data" + num.toString() + "' type='text' /> </div>");
      }

      function createDiv()
        {
          var divTag = document.createElement("div");          
          divTag.id = "div1";          
          divTag.className ="field";          
          divTag.innerHTML = "<label for='data2'>New Data</label> <input id='data2' name='data2' type='text' />";          
          document.body.appendChild(divTag);

          in the body:

          <b>Click this button to create div element dynamically:</b>
          <input id="btn1" type="button" value="create div" onclick="createDiv();" />
      }
      */
    </script>
  </head>
  <body>

  <div id = "create-form">
  <%= form_tag '/items' , :remote => true do %>
    <div><%= hidden_field(:widget_id_value, :value, :value => params[:id]) %></div>
    <div id = "form-fields">
      <div class="field">
        <%=label_tag 'data' %>
        <%=text_field_tag 'data'%>    
      </div>
    </div>
    <div class="actions">
      <%= submit_tag 'Save' %>
    </div>
    
  <% end %>

  </div>
  <body>
</html>

