<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" language="javascript">
    </script>
  </head>
  <body>

  <div id = "create-form">
    <div class="row-fluid" style = "margin-top:0; padding:50px;">
      <div class="span6">
        <%= form_tag '/items', :remote => true do %>
          <div><%= hidden_field(:widget_id_value, :value, :value => params[:id]) %></div>
          <div id = "form-fields">
            <div class="field">
              <%=label_tag 'New multiple choice question' %>
              <%=text_field_tag 'question'%>    
            </div>
            <div class="field">
              <%=label_tag 'Answers (seperate possible answers with commas)' %>
              <%=text_field_tag 'answers'%>    
            </div>
          </div>
          <div class="actions">
            <%= submit_tag 'Save' %>
          </div>
          
        <% end %>
      </div>

      <div class="span6">
        <%= form_tag '/items', :remote => true do %>
          <div><%= hidden_field(:widget_id_value, :value, :value => params[:id]) %></div>
          <div id = "form-fields">
            <div class="field">
              <%=label_tag 'New slider question' %>
              <%=text_field_tag 'question'%>    
            </div>
            <div class="field">
              <%=label_tag 'low_endpoint' %>
              <%=text_field_tag 'low_endpoint'%>    
            </div>
            <div class="field">
              <%=label_tag 'high_endpoint' %>
              <%=text_field_tag 'high_endpoint'%>    
            </div>
          </div>
          <div class="actions">
            <%= submit_tag 'Save' %>
          </div>
          
        <% end %>
      </div>
    </div>
  </div>
  <body>
</html>

