<!DOCTYPE html>
<html>
  <head>
    <title>Business Site</title>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->  
    <% if mobile_device? %>
      <link href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" rel="stylesheet" type="text/css" />
      <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
      <script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script>
    <% else %>  
      <%= javascript_include_tag "application" %>
      <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
      <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>    
      <%= stylesheet_link_tag 'custom', :media => 'screen' %>
      <%= stylesheet_link_tag 'unicorn.main', :media => 'screen' %>
      <%= stylesheet_link_tag 'unicorn.grey', :media => 'screen', :class => "skin-color" %>  
    <% end %>  
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>  
  </head>
  <body>  
    <div class="container-fluid">
      <% if !mobile_device? %>
        <%= render 'layouts/header' %>
      <% end %>
      <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
    </div>
        
  </body>
</html>
